include src/html/global_toggles.html

include src/pug/npc/npc.pug

include src/pug/character/char_main.pug

include src/pug/ship/ship_main.pug

include src/html/hiddenattributes.html

include src/html/compendiumdrop.html

include src/rolltemplates/rolltemplates.html

script(type="text/worker")
    include src/js/sheetworker.js

include src/html/charmancer.html